
<h1>REGISTER</h1>
<div>
    <form>
        <label>FirstName:</label><input type="text" ng-model="user.firstName" /></br></br>

        <label>lasatName:</label><input type="text" ng-model="user.lastName" /></br></br>
        <label>DOB:</label><input type="text" ng-model="user.dob" /></br></br>

        <label>email:</label><input type="text" ng-model="user.email" /></br></br>


        <label></label>Password:</label><input type="password" ng-model="user.password"></br>
        <button ng-click="registerUser()">Register</button>
        <a href="login.html">sign in</a>
    </form>
    {{greeting}}
</div>