<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>


    <!--
    <Script src="../resources/angular.min.js"></Script>
    <Script src="../resources/angular-ui-router.min.js"></Script>

    <script src="../controller/app.js"></script>
    <script src="../controller/loginController.js"></script>

    <script src="../controller/registerController.js"></script>  -->
</head>
<body>

<div>
    <ul>
        <li><a>Home</a></li>
        <li><a>About</a></li>
        <li><a href="login.html">login</a></li>
    </ul>
</div>




<!-- MAIN CONTENT -->
<div class="container">


</div>


</body>
</html>